{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}Admin| Sellers{% endblock %}

{% block content %}
    <h1>
        Customizable Admin
    </h1>

    <h2>List all sellers here</h2>
{% endblock %}