{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block content %}
<div class="ui column stackable center page grid">
    {# You can add a headline for instance to see if you are changing things in the correct place. #}
    <h1>
        This Is My Headline
    </h1>

</div>
{% endblock %}